.l-footer {
    height: 150px;
    max-width: 100%;
    text-align: center;
    background-image: url("./image/footer_image.png");
    background-size: cover;
    &__sitemap {
        padding: 40px 0;
        a {
            font-size: 1.0rem;
            text-decoration: none;
            color: $footer-text;
        }
    }
    small {
        color: $footer-text;
        font-size: .9rem;
    }
}