
.p-menu {
    list-style-type: none;
    &__food {
        li {
            margin: 40px 0 40px 0;
            h3 {
                font-size: 1.5rem;
                font-weight: normal;
                color: $gray;
            }
        }
    }
}

/* ＆で中に入れたら効かなかったので、別途下記している */
.p-menu__food__items {
    margin-top: 30px;
    li {
        margin: 12px 0 12px 14px;
        font-size: 1.5rem;
        color: $gray;
    }
}