.c-titles {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
   /* Header
   ----------------------------------------------------------------- */

   &--header {
      margin-left: 4.0%;
      float: left;
      font-size: 6.5rem;
      color: $gray;
      @include tab {
         font-size: 5.3rem;
      }
      @include sp {
         font-size: 4.0rem;
      }
   }

   &--sideMenu {
          display: none;
          position: absolute;
          top: 18px;
          right: 26px;
          font-size: 3.2rem;
          color: $gray;
          cursor: pointer;
          @include tab {
             display: block;
          }
          @include sp {
             font-size: 1.8rem;
             top: 14px;
             right: 15px;
          }
      }

   /* SideMenu
      ----------------------------------------------------------------- */

   &--menuTop {
      font-size: 3.3rem;
      color: $gray;
      @include tab {
         display: none;
      }
   }

   /* Main
   ----------------------------------------------------------------- */
   &--mainTop {
      margin-left: 5%;
      font-size: 3.0rem;
      color: $index-topTitle;
      @include sp {
         font-size: 2.0rem;
     }
   }

   &--front-page-card {
      margin: 3% 0 5% 5%;
      font-size: 5.0rem;
      color: $index-cardTitle;
   }

   &--archiveTop {
      margin-left: 5%;
      font-size: 2.0rem;
      color: white;
      span {
         font-size: 3.0rem;
         font-weight: bold;
      }
   }
}
